@charset "utf-8";

/************* 1. 상단영역 *************/
#top{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.logo{
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

.logo img{
    width: 300px;
}

.gnb{
    margin-top: 20px;
}

.gnb>ul{
    display: flex;
    justify-content: center;
}

.gnb>ul>li{
    padding: 0 100px;
}
.gnb>ul>li>a{
    position: relative;
    display: block;
    font-size: 1.7rem;
    line-height: 2.5;
    color: lightcoral;
}

.gnb>ul>li>a::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: greenyellow;
    transition: width .2s;
}

.gnb>ul>li:hover>a::after{
    width: 100%;
}

